textarea {
	width: 100%;
	resize: none;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	table-layout: fixed;
}

td {
	border: 1px solid black;
	height: 20px;
}

#plaintext-input {
	height: 100px;
	color: #ffffff;
	background-color: #303030;

}
#pattern-output {
	height: 100px;
	color: #ffffff;
	background-color: #606060;
	font-family: 'Anonymous Pro', monospace;
}

#ciphertext-input {
	height: 100px;
	color: #000000;
	background-color: #D0D0D0;
	font-family: 'Anonymous Pro', monospace;
}

#status-output {
	font-family: 'Antic Slab', serif;
}

#word-output {
	font-family: 'Anonymous Pro', monospace;
}

* {
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
}

.heading {
	/*font-family: 'Antic Slab', serif;*/
	font-family: 'Anonymous Pro', monospace;
	font-weight: bold;
}

#content {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
}