* { 
	overflow: hidden;
}

textarea {
	position: relative;
	width: 100%;
	resize: none;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	table-layout: fixed;
	max-height: 25%;
}

td {
	border: 1px solid black;
	height: 16.666666666666666666666666666%;
}

#plaintext-input {
	height: 100px;
	color: #ffffff;
	background-color: #303030;

}
#pattern-output {
	height: 100px;
	color: #ffffff;
	background-color: #606060;
	font-family: 'Anonymous Pro', monospace;
}

#ciphertext-input {
	height: 100px;
	color: #000000;
	background-color: #D0D0D0;
	font-family: 'Anonymous Pro', monospace;
}

#word-output {
	font-family: 'Anonymous Pro', monospace;
}

* {
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
}

.heading {
	font-family: 'Anonymous Pro', monospace;
	font-weight: bold;
}

#content {
	height: 100vh;
	max-height: 100vh;
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 10px;
	right: 10px;
	bottom: 0;
	padding: 0px;
}

div {
	position: relative;
	/*border: 1px solid red;*/
	padding: 0px;
}

#clear-div {
	height: 5%;
}

#plaintext-div {
	height: 20%;
}

#pattern-div {
	height: 20%
}

#ciphertext-div {
	height: 20%;
}

#status-output {
	font-family: 'Antic Slab', serif;
	height: 5%;
}

#mode-div {
	height: 5%;
}

#word-div {
	height: 25%;
}