input {
	width: 100%;
	height: 100px;
	background-color: #fffafe;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	table-layout: fixed;
}

td {
	border: 1px solid black;
	height: 20px;
}

#status-message {
	font-family: 'Antic Slab', serif;
}

#word, select, textarea {
	color: #ffffff;
	background-color: #303030;

}
#display-pattern, select, textarea {
	color: #ffffff;
	background-color: #606060;
}

#text, select, textarea {
	color: #000000;
	background-color: #D0D0D0;
}

* {
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
}

.heading {
	font-family: 'Antic Slab', serif;
	font-weight: bold;
}